@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

@font-face {
  font-family: 'modernline';
  src: url('./assets/modernline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #a0ba9f;
}

body {
  margin: 0;
}

h1 {
  font-family: 'modernline', Arial, Helvetica, sans-serif;
  font-size: 12rem;
  font-weight: 400;
  color: white;
  margin: 0;
}

h2 {
  font-family: 'modernline', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  color: white;
  margin: 0;
}

p,
li {
  font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-top: 20px;
  color: white;
  margin: 0;
}

label {
  font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a0ba9f;
  text-align: center;

  margin-right: 2rem;
}

b,
summary {
  font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  color: white;
  margin: 0;
}

a {
  font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-decoration: underline;
  color: white;
}

a:hover,
a:visited,
a:active {
  cursor: pointer;
  color: white;
}

button {
  font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;

  color: white;
  background-color: #f2763e;

  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #e65c1b;
}

@media (max-width: 500px) {
  h1 {
    font-size: 18vw;
  }

  p {
    font-size: 4vw;
    margin-top: 20px;
  }
}
